.image-popup__close-button {
  position: absolute;
  background-image: url(../../../images/close.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
  right: 0;
  top: -36px;
  transition: opacity .5s;
}

.image-popup__close-button:hover {
  cursor: pointer;
  opacity: .6;
}

@media screen and (min-width: 768px) {
  .image-popup__close-button {
    height: 32px;
    width: 32px;
    right: 0;
    top: -40px;
    right: -40px;
  }
}